
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 120px;">
                        <select id="sltKey">
                            <option value="">-搜索条件-</option>
                            <option value="name">姓名</option>
                            <option value="sex">性别</option>
                            <option value="seamanbookno">海员证件号</option>
                            <option value="idnumber">身份证号</option>
                            <option value="healthbookno">健康证号</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input id="edtSearch" class="layui-input" type="text" placeholder="输入关键字"/>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                        <button id="btnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                        <button class="layui-btn btn-add btn-default" id="improtFile">导入</button>
                       <!-- <button id="btnExp" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>导出</button>-->
                    </div>
                </div>
            </div>

            <table class="layui-table" id="talentsinfoTable" lay-filter="talentsinfoTable"></table>
        </div>
    </div>

</div>


<!-- 表单弹窗 -->
<script type="text/html" id="talentsinfoModel">
    <form id="talentsinfoForm" lay-filter="talentsinfoForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input name="name" placeholder="请输入姓名" type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                    </div>
                </div>
        <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input name="sex" placeholder="请输入性别" type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                    </div>
                </div>
        <div class="layui-form-item">
                    <label class="layui-form-label">海员证件号</label>
                    <div class="layui-input-block">
                        <input name="seamanbookno" placeholder="请输入海员证件号" type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                    </div>
                </div>
        <div class="layui-form-item">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-block">
                        <input name="idnumber" placeholder="请输入身份证号" type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                    </div>
                </div>
        <div class="layui-form-item">
                    <label class="layui-form-label">健康证号</label>
                    <div class="layui-input-block">
                        <input name="healthbookno" placeholder="请输入健康证号" type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                    </div>
                </div>

        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="talentsinfoFormSubmit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!--详情-->
<style>
    .layui-form-item {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .layui-form-item .layui-inline {
        margin-bottom: 25px;
        margin-right: 0;
    }
    .layui-form-label {
        padding: 9px 0px;
        width: 180px;
    }
    .layui-input-block {
        margin-left: 100px;
    }
    #talenDivDetail input{
        border-width: 0px;
        border-bottom-width: 5px;
    }

    #talenDivUpdate input{
        border-width: 0px;
        border-bottom-width: 5px;
    }

    .layui-tab {
        margin: 0px 0;
    }

</style>
<script type="text/html" id="talentsinfoDetail">
    <form  id="talenDivDetail"  lay-filter="talentsinfoDetail" class="layui-form model-form">
        <div class="layui-tab">
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

    <div class="layui-inline layui-col-md4">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input id="name" name="name"  type="text" class="layui-input" maxlength="50" readonly/>
        </div>
    </div>
    <div class="layui-inline layui-col-md4">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input id="sex" name="sex"  type="text" class="layui-input" maxlength="50" readonly/>
        </div>
    </div>
    <div class="layui-inline layui-col-md4">
        <label class="layui-form-label">海员证件号</label>
        <div class="layui-input-block">
            <input id="seamanbookno" name="seamanbookno"  type="text" class="layui-input" maxlength="50" readonly/>
        </div>
    </div>
    <div class="layui-inline layui-col-md4">
        <label class="layui-form-label">身份证号</label>
        <div class="layui-input-block">
            <input id="idnumber" name="idnumber"  type="text" class="layui-input" maxlength="50" readonly/>
        </div>
    </div>
    <div class="layui-inline layui-col-md4">
        <label class="layui-form-label">健康证号</label>
        <div class="layui-input-block">
            <input id="healthbookno" name="healthbookno"  type="text" class="layui-input" maxlength="50" readonly/>
        </div>
    </div>
                </div>
            </div>
        </div>
    </form>
    <hr class="layui-bg-green">
    <div  class="layui-block">
        <center>
        <label  id="lvli">履历</label>
        </center>
    </div>
    <hr class="layui-bg-green">
    <table class="layui-table" id="TabtalentsDetail" lay-filter="TabtalentsDetail"></table>
</script>

<!--修改-->
<script type="text/html" id="talentsinfoUpdate">
    <form  id="talenDivUpdate"  lay-filter="talentsinfoUpdate" class="layui-form model-form">
        <div class="layui-tab">
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                      <input id="ids"  type="hidden" class="layui-input" maxlength="50" lay-verify="required" required/>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input id="nameup" name="name"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input id="sexup" name="sex"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">海员证件号</label>
                        <div class="layui-input-block">
                            <input id="seamanbooknoup" name="seamanbookno"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-block">
                            <input id="idnumberup" name="idnumber"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">健康证号</label>
                        <div class="layui-input-block">
                            <input id="healthbooknoup" name="healthbookno"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr class="layui-bg-green">
    <div  class="layui-block">
        <center>
            <label  id="lvli">履历</label>
        </center>
    </div>
    <hr class="layui-bg-green">
    <table class="layui-table" id="TabtalentsUpdate" lay-filter="TabtalentsUpdate"></table>
</script>

<!--添加-->
<script type="text/html" id="talentsinfoAdd">
    <form  id="talenDivAdd"  lay-filter="talentsinfoAdd" class="layui-form model-form">
        <div class="layui-tab">
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <input id="ids"  type="hidden" class="layui-input" maxlength="50" lay-verify="required" required/>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input id="nameup" name="name"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input id="sexup" name="sex"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">海员证件号</label>
                        <div class="layui-input-block">
                            <input id="seamanbooknoup" name="seamanbookno"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-block">
                            <input id="idnumberup" name="idnumber"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">健康证号</label>
                        <div class="layui-input-block">
                            <input id="healthbooknoup" name="healthbookno"  type="text" class="layui-input" maxlength="50" lay-verify="required" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr class="layui-bg-green">
    <div  class="layui-block">
        <center>
            <label  id="lvli">履历</label>
        </center>
    </div>
    <hr class="layui-bg-green">
    <table class="layui-table" id="TabtalentsUpdate" lay-filter="TabtalentsUpdate"></table>
</script>


<!--导入按钮-->
<script type="text/html" id="improtFilefu">
    <center>
        <form id="improtFilefuRu" lay-filter="improtFilefuRu"  class="layui-form model-form">
            <div>请确定表格类型，防止数据出错</div>
            <a class="layui-btn btn-add btn-default" id="btn-excel">选择Excel文件</a>
            <a class="layui-btn btn-add btn-default" id="btn-excel-sure">上传导入</a>
        </form>
    </center>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'config','formSelects','laytpl','laydate','upload'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var config = layui.config;
        var formSelects = layui.formSelects;
        var laytpl = layui.laytpl;
        var laydate=layui.laydate;
        var upload = layui.upload;

        form.render('select');
        // 渲染表格
        var ins1 = table.render({
            elem: '#talentsinfoTable',
            url: config.base_server + 'observer/talentsinfo/list',
            page: true,
            cols: [[
                {type: 'checkbox'},{type: 'numbers'},
                {field: 'name', sort: true, title: '姓名'},
                {field: 'sex', sort: true, title: '性别'},
                {field: 'seamanbookno', sort: true, title: '海员证件号'},
                {field: 'idnumber', sort: true, title: '身份证号'},
                {field: 'healthbookno', sort: true, title: '健康证号'},
                {field: 'createTime', sort: true, title: '创建时间'},
                {align: 'center', toolbar: '#tableBar', title: '操作'}
            ]]
        });

        // 添加按钮点击事件
        $('#btnAdd').click(function () {
            showEditModel();
        });

        //导入按钮
        $('#improtFile').click(function () {
            imfile();
        });

        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            var key = $('#sltKey').val();
            var value = $('#edtSearch').val();
            table.reload('talentsinfoTable', {where: {searchKey: key, searchValue: value}});
        });
        // 表单提交事件
        form.on('submit(talentsinfoFormSubmit)', function (data) {
            layer.load(2);
            var theMethod = data.field.id?"PUT":"POST";
            admin.req('observer/talentsinfo', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    table.reload('talentsinfoTable');
                    admin.closeDialog('#talentsinfoForm');
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, theMethod);
            return false;
        });
        // 工具条点击事件
        table.on('tool(talentsinfoTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                showUpdate(data);
            }else if (obj.event === 'del') { //删除
                doDelete(obj);
            }else if (obj.event === 'detail') { //详情
                showdetail(data);
            }
        });
        // 删除
        function doDelete(obj) {
            layer.confirm('确定要删除吗？', {
                skin: 'layui-layer-admin'
            }, function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('observer/talentsinfo/'+ obj.data.id, {}, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                }, 'delete');
            });
        };


        //Excel导入
        function imfile(){
            admin.open({
                type:1,
                title:"文件导入",
                area:['auto',"200px"],
                btn:["取消"],
                offset: ['15%', '25%'],
                content:document.getElementById('improtFilefu').innerHTML,
                success:function () {
                    //Excel导入
                    upload.render({
                        elem: '#btn-excel'
                        ,url: config.base_server + 'observer/talentsinfo/fileexcel'
                        ,auto: false
                        //,multiple: true
                        ,bindAction: '#btn-excel-sure'
                        ,size: 5120 //最大允许上传的文件大小 2M
                        ,accept: 'file' //允许上传的文件类型
                        ,exts:'xlsx'//只上传pdf文档
                        ,done: function(res){ //res
                            console.log(res);
                            table.reload('talentsinfoTable');
                            if(res.code == 1){
                                layer.msg(res.msg, {icon: 1});
                                admin.closeDialog('#improtFilefuRu');
                            }else if(res.code==2){
                                layer.msg(res.msg, {icon: 2});
                                admin.closeDialog('#improtFilefuRu');
                            }
                        }
                    });
                },yes:function (index) {
                    layer.close(index);
                }
                ,cancel: function(index){
                    layer.close(index)
                }
            });

        }

        // 导出excel
        $('#btnExp').click(function () {
            var checkRows = table.checkStatus('talentsinfoTable');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                table.exportFile(ins1.config.id, checkRows.data, 'xls');
            }
        });

        // 显示表单弹窗
        function showEditModel(data) {
            admin.open({
                type: 1,
                title: data ? '修改信息' : '添加信息',
                content: laytpl(document.getElementById('talentsinfoModel').innerHTML).render(data||{}),
                success: function (layero, index) {
                    $('#talentsinfoForm')[0].reset();
                    if (data) {
                        form.val('talentsinfoForm', data);
                    }
                     $(layero).children('.layui-layer-content').css('overflow', 'visible');  // 禁止出现滚动条
                }
            });
        }

        //详情
        function showdetail(data){
             admin.open({
                  type:1,
                  title:"人才信息详情",
                  content: laytpl(document.getElementById('talentsinfoDetail').innerHTML).render(data||{}),
                  btn:["返回列表"],
                 area:["800px","800px"],
                 success:function () {
                    // TabtalentsDetail
                     $("#name").val(data.name);
                     $("#sex").val(data.sex);
                     $("#seamanbookno").val(data.seamanbookno);
                     $("#idnumber").val(data.idnumber);
                     $("#healthbookno").val(data.healthbookno);
                     /*详情*/
                         table.render({
                             elem: '#TabtalentsDetail',
                             url:config.base_server + 'observer/talentsinfo/selectTalenDetail'
                             ,where:{id:data.id}
                             ,page:false
                             ,cols: [[
                                // {field: 'id', title: 'ID', width:'25%', sort: true, fixed: 'left'}
                                 {field: 'shipname', title: '船名', width: '25%',align: 'center'}
                                 ,{field: 'starttime', title: '航次', width: '25%',align: 'center'}
                                 ,{field: 'starttime', title: '开始时间', width: '25%',align: 'center'}
                                 ,{field: 'endtime', title: '结束时间', width: '25%', sort: true,align: 'center'}
                             ]]
                         });
                 },
                 yes: function(index, layero){
                     layer.close(index)
                 },
                 cancel: function(index){
                     layer.close(index)
                 }

             });



        }


        //修改
        function showUpdate(data){
            admin.open({
                type:1,
                title:"人才信息详情",
                content: laytpl(document.getElementById('talentsinfoUpdate').innerHTML).render(data||{}),
                btn:["取消","保存"],
                area:["800px","800px"],
                success:function () {
                    // TabtalentsDetail
                    $("#ids").val(data.id)
                    $("#nameup").val(data.name);
                    $("#sexup").val(data.sex);
                    $("#seamanbooknoup").val(data.seamanbookno);
                    $("#idnumberup").val(data.idnumber);
                    $("#healthbooknoup").val(data.healthbookno);
                    /*详情*/
                    table.render({
                        elem: '#TabtalentsUpdate',
                        url:config.base_server + 'observer/talentsinfo/selectTalenDetail'
                        ,where:{id:data.id}
                        ,page:false
                        ,cols: [[
                            // {field: 'id', title: 'ID', width:'25%', sort: true, fixed: 'left'}
                             {field: 'shipname', title: '船名', width: '25%',align: 'center',edit:'text'}
                            ,{field: 'voyage', title: '航次', width: '25%',align: 'center',edit:'text'}
                            ,{field: 'starttime', title: '开始时间', width: '25%',align: 'center',edit:'text'}
                            ,{field: 'endtime', title: '结束时间', width: '25%', sort: true,align: 'center',edit:'text'}
                        ]]
                    });
                },
                yes: function(index, layero){
                    layer.close(index);
                },
                btn2: function(index, layero){

                    admin.req("observer/talentsinfo/updateTalen",{
                        id:$("#ids").val(),
                        name: $("#nameup").val(),
                        sex: $("#sexup").val(),
                        seamanbookno:$("#seamanbooknoup").val(),
                        idnumber:$("#idnumberup").val(),
                        healthbookno:$("#healthbooknoup").val(),
                        dateupdate:JSON.stringify(table.cache.TabtalentsUpdate)
                    },function (data) {

                        if (data.code == 200) {
                            layer.msg(data.msg, {icon: 1});
                            table.reload('talentsinfoTable');
                            admin.closeDialog('#talentsinfoUpdate');
                        } else {
                            layer.msg(data.msg, {icon: 2});
                            table.reload('talentsinfoTable');
                            admin.closeDialog('#talentsinfoUpdate');
                        }
                    },"PUT");

               },
                cancel: function(index){
                    layer.close(index);
                }

            });
        }

        /*添加*/
        function talentsinfoModel(){



        }






    });
</script>