
    <style>
        .layui-form-item {
            margin-bottom: 0;
            margin-top: 20px;
        }

        .layui-form-item .layui-inline {
            margin-bottom: 25px;
            margin-right: 0;
        }
        .layui-form-label {
            padding: 9px 0px;
            width: 180px;
        }
        .layui-input-block {
            margin-left: 190px;
        }

    </style>


<!-- 加载动画，移除位置在common.js中 -->
<!--<div class="page-loading">
    <div class="rubik-loader"></div>
</div>-->

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card" id="logDiv">
        <div class="layui-card-header">金枪鱼围网 - 转载信息</div>
        <div class="layui-card-body">

            <div class="layui-form">
                <div class="layui-form-item layui-row">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">船名:</label>
                        <div class="layui-input-block">
                            <input id="shipName" type="text"  readonly="readonly" class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">日期:</label>
                        <div class="layui-input-block">
                            <input id="logDate" type="text"  readonly="readonly" class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">活动类型:
                        </label>
                        <div class="layui-input-block">
                            <input id="actionTypeStr" type="text"  readonly="readonly" class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">经度:</label>
                        <div class="layui-input-block">
                            <input id="lonStr" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">纬度:</label>
                        <div class="layui-input-block">
                            <input id="latStr" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">开始时间:</label>
                        <div class="layui-input-block">
                            <input id="startTime" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">结束时间:</label>
                        <div class="layui-input-block">
                            <input id="endTime" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">船舶或目的地:</label>
                        <div class="layui-input-block">
                            <input id="unloadingDest" type="text"  class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">船舶呼号:</label>
                        <div class="layui-input-block">
                            <input id="unloadingCallsign" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">鲣鱼转载量(吨):</label>
                        <div class="layui-input-block">
                            <input id="unloadingSkipjack" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">黄鳍转载量(吨):</label>
                        <div class="layui-input-block">
                            <input id="unloadingYellowfin" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">大目转载量(吨):</label>
                        <div class="layui-input-block">
                            <input id="unloadingBigeye" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">混合转载量(吨):</label>
                        <div class="layui-input-block">
                            <input id="unloadingMix" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">其他转载量(吨):</label>
                        <div class="layui-input-block">
                            <input id="unloadingOther" type="text"  class="layui-input"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">不合格(吨):</label>
                        <div class="layui-input-block">
                            <input id="unloadingReject" type="text"  class="layui-input"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item text-center">
                    <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
                    <button class="layui-btn" lay-filter="btnSubmit" lay-submit>保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'formSelects', 'admin', 'config', 'jquery', 'laydate', 'table'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var admin = layui.admin;
        var config = layui.config;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var table = layui.table;

        var log = admin.getTempData('t_fishinglog');
        if (log) {
           /* if(log.modifyLogId){
                $.ajax({
                    url: "../oneLog",
                    data: {id:log.modifyLogId},
                    async:false,
                    success: function(data){
                        if(data.code == 200){
                            log = data.data;
                        }
                    }
                });
            }*/
            $("#shipName").val(log.shipName);
            $("#logDate").val(log.logDate);
            $("#actionTypeStr").val(log.actionTypeStr);
            $("#lonStr").val(log.lonStr);
            $("#latStr").val(log.latStr);
            $("#startTime").val(log.startTime);
            $("#endTime").val(log.endTime);

            $("#unloadingDest").val(log.unloadingDest);
            $("#unloadingCallsign").val(log.unloadingCallsign);
            if(log.unloadingSkipjack){
                $("#unloadingSkipjack").val(log.unloadingSkipjack/1000);
            }
            if(log.unloadingYellowfin){
                $("#unloadingYellowfin").val(log.unloadingYellowfin/1000);
            }
            if(log.unloadingBigeye){
                $("#unloadingBigeye").val(log.unloadingBigeye/1000);
            }
            if(log.unloadingMix){
                $("#unloadingMix").val(log.unloadingMix/1000);
            }
            if(log.unloadingOther){
                $("#unloadingOther").val(log.unloadingOther/1000);
            }
            if(log.unloadingReject){
                $("#unloadingReject").val(log.unloadingReject/1000);
            }
        }

        table.render({
            elem: '#fish-table',
            url: config.base_server + 'fishinglog/fish',
            page: false,
            where:{id:log.id,token: config.getToken().access_token},
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'fishName', align: 'center', sort: true, title: '鱼种名'},
                {field: 'standardName', align: 'center', sort: true, title: '规格'},
                {field: 'weight', align: 'center', sort: true, title: '捕获量'},
                {field: 'unitName', align: 'center', sort: true, title: '单位'}
            ]]
        });
        // 表单提交事件
        form.on('submit(btnSubmit)', function (data) {
            layer.load(2);
            var ulog = {};
            ulog.id=log.id;
            ulog.shipId=log.shipId;
            ulog.logType=log.logType;
            ulog.actionType=log.actionType;
            ulog.lonStr=log.lonStr;
            ulog.latStr=log.latStr;
            ulog.createTimeStr = log.createTime;
            ulog.logRecordType = log.logRecordType;
            ulog.logDateStr = log.logDate;
            ulog.startTimeStr=$("#startTime").val();
            ulog.startLonStr=$("#startLon").val();
            ulog.startLatStr=$("#startLat").val();
            ulog.endTimeStr=$("#endTime").val();
            ulog.endLonStr=$("#endLon").val();
            ulog.endLatStr=$("#endLat").val();
            ulog.unloadingDest=$("#unloadingDest").val();
            ulog.unloadingCallsign=$("#unloadingCallsign").val();
            if(parseFloat($("#unloadingSkipjack").val()) || (parseFloat($("#unloadingSkipjack").val())==0)){
                ulog.unloadingSkipjack=parseFloat($("#unloadingSkipjack").val())*1000;
            }
            if(parseFloat($("#unloadingYellowfin").val()) || (parseFloat($("#unloadingYellowfin").val())==0)){
                ulog.unloadingYellowfin=parseFloat($("#unloadingYellowfin").val())*1000;
            }
            if(parseFloat($("#unloadingBigeye").val()) || (parseFloat($("#unloadingBigeye").val())==0)){
                ulog.unloadingBigeye=parseFloat($("#unloadingBigeye").val())*1000;
            }
            if(parseFloat($("#unloadingMix").val()) || (parseFloat($("#unloadingMix").val())==0)){
                ulog.unloadingMix=parseFloat($("#unloadingMix").val())*1000;
            }
            if(parseFloat($("#unloadingOther").val()) || (parseFloat($("#unloadingOther").val())==0)){
                ulog.unloadingOther=parseFloat($("#unloadingOther").val())*1000;
            }
            if(parseFloat($("#unloadingReject").val()) || (parseFloat($("#unloadingReject").val())==0)){
                ulog.unloadingReject=parseFloat($("#unloadingReject").val())*1000;
            }
            admin.req('fishinglog/updateLog', ulog, function (data) {
                parent.layer.closeAll();
                if (data.code == 200) {
                    parent.layui.table.reload('fishinglogTable');
                    top.layer.msg(data.msg, {icon: 1});
                } else {
                    top.layer.msg(data.msg, {icon: 2});
                }
            }, "POST");
            return false;
        });
    });
</script>

</body>
</html>