<style>
    .layui-form-item {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .layui-form-item .layui-inline {
        margin-bottom: 25px;
        margin-right: 0;
    }

    .layui-form-label {
        padding: 9px 0px;
        width: 180px;
    }

    .layui-input-block {
        margin-left: 190px;
    }

    #logDiv input {
        border-width: 0px;
        border-bottom-width: 1px;
    }

    .layui-tab {
        margin: 0px 0;
    }

</style>


<!-- 加载动画，移除位置在common.js中 -->
<!--<div class="page-loading">
    <div class="rubik-loader"></div>
</div>-->

<!-- 正文开始 -->
<div class="layui-fluid" id="logDiv">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li id="modifyLi" class="layui-this">修改后日志</li>
            <li id="yuanshi" style="display: none;">原始日志</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form">
                            <div class="layui-form-item layui-row">
                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">船名:</label>
                                    <div class="layui-input-block">
                                        <input id="shipName" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>
                                
                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">钓机台数:</label>
                                    <div class="layui-input-block">
                                        <input id="machineSum" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">单钓钩数:</label>
                                    <div class="layui-input-block">
                                        <input id="machineHookSum" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">鱿钓开始时间:</label>
                                    <div class="layui-input-block">
                                        <input id="startTime" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">开始位置纬度:</label>
                                    <div class="layui-input-block">
                                        <input id="startLat" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">开始位置经度:</label>
                                    <div class="layui-input-block">
                                        <input id="startLon" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">鱿钓结束时间:</label>
                                    <div class="layui-input-block">
                                        <input id="endTime" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">结束位置纬度:</label>
                                    <div class="layui-input-block">
                                        <input id="endLat" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">结束位置经度:</label>
                                    <div class="layui-input-block">
                                        <input id="endLon" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">手钓人数:</label>
                                    <div class="layui-input-block">
                                        <input id="manualSum" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">手钓闲钩数:</label>
                                    <div class="layui-input-block">
                                        <input id="manualIdleHookSum" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">投钩水深(米):</label>
                                    <div class="layui-input-block">
                                        <input id="hookDeep" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">水表温度(℃):</label>
                                    <div class="layui-input-block">
                                        <input id="surfaceTemp" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">灯光功率(kW):</label>
                                    <div class="layui-input-block">
                                        <input id="lightPower" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">开灯数:</label>
                                    <div class="layui-input-block">
                                        <input id="lightSum" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">风速(m/s):</label>
                                    <div class="layui-input-block">
                                        <input id="windVelocity" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">风向(度):</label>
                                    <div class="layui-input-block">
                                        <input id="windDirection" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">流速(m/s):</label>
                                    <div class="layui-input-block">
                                        <input id="currentVelocity" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">流向(度):</label>
                                    <div class="layui-input-block">
                                        <input id="currentDirection" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">鱼种信息</div>
                            <div class="layui-card-body">
                                <table class="layui-table" id="fish-table" lay-filter="fish-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-form">
                            <div class="layui-form-item layui-row">
                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">船名:</label>
                                    <div class="layui-input-block">
                                        <input id="e_shipName" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">钓机台数:</label>
                                    <div class="layui-input-block">
                                        <input id="machineSum" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">单钓钩数:</label>
                                    <div class="layui-input-block">
                                        <input id="e_machineHookSum" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">鱿钓开始时间:</label>
                                    <div class="layui-input-block">
                                        <input id="e_startTime" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">开始位置纬度:</label>
                                    <div class="layui-input-block">
                                        <input id="e_startLat" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">开始位置经度:</label>
                                    <div class="layui-input-block">
                                        <input id="e_startLon" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">鱿钓结束时间:</label>
                                    <div class="layui-input-block">
                                        <input id="e_endTime" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">结束位置纬度:</label>
                                    <div class="layui-input-block">
                                        <input id="e_endLat" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">结束位置经度:</label>
                                    <div class="layui-input-block">
                                        <input id="e_endLon" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">手钓人数:</label>
                                    <div class="layui-input-block">
                                        <input id="e_manualSum" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">手钓闲钩数:</label>
                                    <div class="layui-input-block">
                                        <input id="manualIdleHookSum" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">投钩水深(米):</label>
                                    <div class="layui-input-block">
                                        <input id="e_hookDeep" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">水表温度(℃):</label>
                                    <div class="layui-input-block">
                                        <input id="e_surfaceTemp" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">灯光功率(kW):</label>
                                    <div class="layui-input-block">
                                        <input id="e_lightPower" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">开灯数:</label>
                                    <div class="layui-input-block">
                                        <input id="e_lightSum" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">风速(m/s):</label>
                                    <div class="layui-input-block">
                                        <input id="e_windVelocity" type="text" readonly="readonly" class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">风向(度):</label>
                                    <div class="layui-input-block">
                                        <input id="e_windDirection" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">流速(m/s):</label>
                                    <div class="layui-input-block">
                                        <input id="e_currentVelocity" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>

                                <div class="layui-inline layui-col-md4">
                                    <label class="layui-form-label">流向(度):</label>
                                    <div class="layui-input-block">
                                        <input id="e_currentDirection" type="text" readonly="readonly"
                                               class="layui-input"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header">鱼种信息</div>
                            <div class="layui-card-body">
                                <table class="layui-table" id="e_fish-table" lay-filter="e_fish-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="text-align: center;margin-top: 30px;margin-bottom: 20px;">
                <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'formSelects', 'admin', 'config', 'jquery', 'laydate', 'table', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var admin = layui.admin;
        var config = layui.config;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var table = layui.table;

        var log = admin.getTempData('t_fishinglog');
        if (log) {
            $("#shipName").val(log.shipName);
            $("#logDate").val(log.logDate);
            $("#hookSum").val(log.hookSum);
            $("#startTime").val(log.startTime);
            $("#startLon").val(log.startLonStr);
            $("#startLat").val(log.startLatStr);
            $("#endTime").val(log.endTime);
            $("#endLon").val(log.endLonStr);
            $("#endLat").val(log.endLatStr);
            $("#machineSum").val(log.machineSum);
            $("#machineHookSum").val(log.machineHookSum);
            $("#manualSum").val(log.manualSum);
            $("#manualIdleHookSum").val(log.manualIdleHookSum);
            $("#lightSum").val(log.lightSum);
            if (log.hookDeep) {
                $("#hookDeep").val(log.hookDeep / 100);
            }
            if (log.surfaceTemp) {
                $("#surfaceTemp").val(log.surfaceTemp / 10);
            }
            if (log.lightPower) {
                $("#lightPower").val(log.lightPower / 1000);
            }
            if (log.windVelocity) {
                $("#windVelocity").val(log.windVelocity / 10);
            }
            if (log.windDirection) {
                $("#windDirection").val(log.windDirection / 10);
            }
            if (log.currentVelocity) {
                $("#currentVelocity").val(log.currentVelocity / 10);
            }
            if (log.currentDirection) {
                $("#currentDirection").val(log.currentDirection / 10);
            }
            if (log.modifyLogId) {
                $("#yuanshi").show();
                admin.req('fishinglog/oneLog', {id: log.modifyLogId}, function (data) {
                    if (data.code == 200) {
                        var elog = data.data;
                        $("#e_shipName").val(elog.shipName);
                        $("#e_logDate").val(elog.logDate);
                        $("#e_hookSum").val(elog.hookSum);
                        $("#e_startTime").val(elog.startTime);
                        $("#e_startLon").val(elog.startLonStr);
                        $("#e_startLat").val(elog.startLatStr);
                        $("#e_endTime").val(elog.endTime);
                        $("#e_endLon").val(elog.endLonStr);
                        $("#e_endLat").val(elog.endLatStr);
                        $("#e_machineSum").val(elog.machineSum);
                        $("#e_machineHookSum").val(elog.machineHookSum);
                        $("#e_manualSum").val(elog.manualSum);
                        $("#manualIdleHookSum").val(log.manualIdleHookSum);
                        $("#e_lightSum").val(elog.lightSum);
                        if (elog.hookDeep) {
                            $("#e_hookDeep").val(elog.hookDeep / 100);
                        }
                        if (elog.surfaceTemp) {
                            $("#e_surfaceTemp").val(elog.surfaceTemp / 10);
                        }
                        if (elog.lightPower) {
                            $("#e_lightPower").val(elog.lightPower / 10);
                        }
                        if (elog.windVelocity) {
                            $("#e_windVelocity").val(elog.windVelocity / 10);
                        }
                        if (elog.windDirection) {
                            $("#e_windDirection").val(elog.windDirection / 10);
                        }
                        if (elog.currentVelocity) {
                            $("#e_currentVelocity").val(elog.currentVelocity / 10);
                        }
                        if (elog.currentDirection) {
                            $("#e_currentDirection").val(elog.currentDirection / 10);
                        }
                        table.render({
                            elem: '#e_fish-table',
                            url: config.base_server + 'fishinglog/fish',
                            page: false,
                            limit: 1000,
                            where: {id: elog.id, token: config.getToken().access_token},
                            cellMinWidth: 100,
                            cols: [[
                                {type: 'numbers'},
                                {field: 'fishName', align: 'center', sort: true, title: '鱼种名'},
                                {field: 'standardName', align: 'center', sort: true, title: '规格'},
                                {field: 'num', align: 'center', sort: true, title: '捕获数量'},
                                {field: 'unitName', align: 'center', sort: true, title: '单位'}
                            ]]
                        });
                    }
                }, 'GET');
            } else {
                $("#yuanshi").show();
                $("#modifyLi").hide();
            }
        }

        table.render({
            elem: '#fish-table',
            url: config.base_server + 'fishinglog/fish',
            page: false,
            limit: 1000,
            where: {id: log.id, token: config.getToken().access_token},
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'fishName', align: 'center', sort: true, title: '鱼种名'},
                {field: 'standardName', align: 'center', sort: true, title: '规格'},
                {field: 'num', align: 'center', sort: true, title: '捕获数量'},
                {field: 'unitName', align: 'center', sort: true, title: '单位'}
            ]]
        });

    });
</script>