<!-- 关闭Tab时顶部标题 -->
<div class="layui-body-header">
    <span class="layui-body-header-title">参数接收</span>
    <span class="layui-breadcrumb pull-right">
        <a href="#/">首页</a>
        <a><cite>参数接收</cite></a>
    </span>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">路由信息</label>
                    <div id="routerInfo" class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">参数列表</label>
                    <div id="routerParam" class="layui-form-mid layui-word-aux"></div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="button" ew-event="back">返回</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        $('#routerInfo').html('<pre>' + JSON.stringify(layui.router(), null, 4) + '</pre>');
        $('#routerParam').html('<pre>' + JSON.stringify(layui.router().search, null, 4) + '</pre>');
    });
</script>