* {
    margin: 0;
    padding: 0;
}
ol,ul,li{list-style-type:none;}
img{border:0px; vertical-align:middle;}
form {margin:0px;padding:0px;}
.clear { height:0px; clear: both; overflow:hidden; }
input ,select ,textarea {font-family:"Microsoft YaHei"; font-size: 14px;}
input:focus ,textarea:focus { outline:none; }
::-webkit-input-placeholder { color:#999; }
:-moz-placeholder { color:#999; }
::-moz-placeholder { color:#999; }
:-ms-input-placeholder { color:#999; }
.an_tran_all{transition:all 500ms ease; -webkit-transition:all 500ms ease;-moz-transition:all 500ms ease; -o-transition:all 500ms ease;}

.gray { color:#828487; }

html {overflow-y:hidden; }

body { font-size: 14px; line-height: 28px; color: #4f5152; background:#e6e9ed; font-family:"Microsoft YaHei";}
a { text-decoration: none; color: #4f5152;}
a:hover { text-decoration: none; color:#3285e9;}

#wrap { min-width:1260px; position:relative; }

.main_wrap { position:relative; overflow:hidden; }

.left_tool_open { position:absolute; left:0; top:0; z-index:9;}
.left_tool_open .left_tool_open_m { position:relative; background:#f0f4f9; background:rgba(240,244,249,0.9); width:102px; box-shadow:0px 0px 8px rgba(0,0,0,0.1);}
.left_tool_open .logo { padding-top:56px; text-align:center; }
.left_tool_open .btn { height:107px; border-bottom:1px #d2e0ec solid; background:url(../images/map_l/open.png) center center no-repeat;}
.left_tool_open ul li { border-bottom:1px #d2e0ec solid; padding:20px 0px 5px 0px; text-align:center; line-height:42px; }
.left_tool_open ul li i{ display:block; margin:0px auto; width:62px; height:62px; background-image:url(../images/map_l/ltit.png); background-repeat:no-repeat; }
.left_tool_open ul li i.i1{ background-position:0px 0px; }
.left_tool_open ul li i.i3{ background-position:0px -130px; }
.left_tool_open ul li i.i2{ background-position:0px -262px; }
.left_tool_open ul li:hover { color:#3285e9;}
.left_tool_open ul li:hover i.i1{ background-position:-130px 0px; }
.left_tool_open ul li:hover i.i3{ background-position:-130px -130px; }
.left_tool_open ul li:hover i.i2{ background-position:-130px -262px; }


.left_tool { position:absolute; left:0; top:0; z-index:10; display:none;}
.left_tool .left_tool_m { position:relative; background:#f0f4f9; background:rgba(240,244,249,0.9); width:350px; box-shadow:0px 0px 8px rgba(0,0,0,0.1);}
.left_tool .pos{ background: url(../images/map_l/pos.png) 10px center no-repeat #c9ccd5; background: url(../images/map_l/pos.png) 10px center no-repeat rgba(201,204,213,0.3); height:36px; padding-left:28px; line-height:36px;}
.left_tool .pos a{ display:inline-block; height:36px; line-height:36px; padding:0px 10px; background:url(../images/map_l/line2.png) left center no-repeat; color:#828487; }
.left_tool .pos a:first-child{ background:none; }
.left_tool .pos a:hover{ color:#3285e9; }

.logo_left { padding:20px 0px 0px 20px; height:75px; }
.logo_left .logo_big{ float:left; width:150px; }
.logo_left .topwel{ float:left; width:98px; border-left:1px #d9dee9 solid; padding-left:74px; height:42px; position:relative; }
.logo_left .topwel .avatar{ position:absolute; left:24px; top:0px; display:block; width:40px; height:40px; border-radius:50%; border:1px #9fc6f5 solid; }
.logo_left .topwel .t{ display:block; line-height:18px; height:18px; overflow:hidden; color:#828487; }
.logo_left .topwel .m{ display:block; font-size:16px; line-height:24px; height:24px; overflow:hidden;}

.search_box { position:absolute; left:20px; top:20px; height:48px; background:rgba(255,255,255,0.8); border-radius:4px; box-shadow:0px 0px 8px rgba(0,0,0,0.2); margin-right:20px; z-index:9;}
.search_box .tree_t{ float:left; width:54px; height:48px; background:url(../images/main/search_t.png) center center no-repeat; cursor:pointer; transition:all 500ms ease; -webkit-transition:all 500ms ease;-moz-transition:all 500ms ease; -o-transition:all 500ms ease; }
.search_box .tree_t:hover{ opacity:0.7;}
.search_box .input{ float:left; display:block; height:48px; background: url(../images/main/line.png) right center no-repeat; padding:0px 10px; line-height:48px; width:132px; border:none; }
.search_box .btn{ float:left; display:block; width:55px; height:48px; background: url(../images/main/search_btn.png) center center no-repeat; line-height:200px; overflow:hidden; cursor:pointer; border:none; transition:all 500ms ease; -webkit-transition:all 500ms ease;-moz-transition:all 500ms ease; -o-transition:all 500ms ease; }
.search_box .btn:hover{ opacity:0.7;}

.ztree_main { position:absolute; left:20px; top:78px; background:rgba(255,255,255,0.8); border-radius:0px 0px 4px 4px; box-shadow:0px 0px 8px rgba(0,0,0,0.2); width:260px; z-index:9; }
.ztree_main_t { height:40px;}
.ztree_main_t ul li{ float:left; height:40px; line-height:40px; border:1px rgba(66,133,244,0.8) solid; background:rgba(66,133,244,0.8); color:#fff; text-align:center; font-size:16px; width:128px; cursor:pointer;}
.ztree_main_t ul li i{ display:inline-block; vertical-align: middle; width:20px; height:20px; background:url(../images/main/search_nav.png) center center no-repeat; margin-right:5px; }
.ztree_main_t ul li i.i1{ background-position:0px 0px;}
.ztree_main_t ul li i.i3{ background-position:-134px 0px;}
.ztree_main_t ul li i.i2{ background-position:-264px 0px;}
.ztree_main_t ul li.on { background:rgba(255,255,255,0.8); color:#4285f4; border:1px rgba(255,255,255,0.8) solid; border-bottom:1px #ededed solid; }
.ztree_main_t ul li.on i.i1{ background-position:0px -100px;}
.ztree_main_t ul li.on i.i3{ background-position:-134px -100px;}
.ztree_main_t ul li.on i.i2{ background-position:-264px -100px;}
.ztree_main_m { padding:5px 5px; }
.ztree_box { overflow:hidden; width:260px;}

.ltab_main { }
.ltab_main_t { height:129px; background:#fff; background:rgba(255,255,255,0.8); }
.ltab_main_t ul li{ float:left; width:50%; height:109px; line-height:42px; text-align:center; padding-top:20px; cursor:pointer; }
.ltab_main_t ul li i{ display:block; margin:0px auto; width:62px; height:62px; background-image:url(../images/map_l/ltit.png); background-repeat:no-repeat;}
.ltab_main_t ul li i.i1{ background-position:0px 0px;}
.ltab_main_t ul li i.i3{ background-position:0px -130px;}
.ltab_main_t ul li i.i2{ background-position:0px -262px;}
.ltab_main_t ul li.on { color:#3285e9; background:url(../images/map_l/j.png) center bottom no-repeat; }
.ltab_main_t ul li.on i.i1{ background-position:-130px 0px;}
.ltab_main_t ul li.on i.i3{ background-position:-130px -130px;}
.ltab_main_t ul li.on i.i2{ background-position:-130px -262px;}


.ltab_main_m { box-shadow:0px 3px 3px rgba(0,0,0,0.04) inset; }
.ltab_box { overflow:hidden; width:350px;}

.lfollow { padding:10px 19px;}
.lfollow .item { margin-bottom:12px; }
.lfollow .item .t{ line-height:38px; color:#828487; position:relative; }
.lfollow .item .t .add{ display:block; position:absolute; right:0; top:0; width:52px; height:38px; background:url(../images/map_l/add.png) center center no-repeat; }
.lfollow .item .t .add:hover{ opacity:0.7; }
.lfollow .item ul li{ margin-bottom:3px; border:1px #d8dee7 solid; background:#e5e7eb; background:rgba(229,231,235,0.6); line-height:40px; padding-left:20px; position:relative; }
.lfollow .item ul li .del{ display:block; position:absolute; right:0; top:0; width:52px; height:38px; background:url(../images/map_l/del.png) center center no-repeat; }
.lfollow .item ul li .del:hover{ opacity:0.7; }
.lfollow .item ul li.on{ background:#e3e6e8; color:#3285e9; }


.left_foot { position:absolute; left:0; bottom:0; background:#c9ccd5; background:rgba(201,204,213,0.3); width:312px; padding:20px 19px; height:30px; }
.left_foot a{ float:left; height:30px; line-height:30px; color:#828487; padding-right:15px; border-right:1px #dadee5 solid; }
.left_foot a:hover{ color:#3285e9; }
.left_foot .tel { float:right; height:30px; background:url(../images/map_l/ftel.png) left center no-repeat; padding-left:38px; color:#333333; line-height:15px; width:190px;}
.left_foot .tel span{ color:#828487; }

.left_open { position:absolute; right:-14px; top:50%; margin-top:-25px; width:14px; height:50px; cursor:pointer; background:url(../images/map_l/left_open.png) no-repeat;}
.left_clo { position:absolute; right:-14px; top:50%; margin-top:-25px; width:14px; height:50px; cursor:pointer; background:url(../images/map_l/left_clo.png) no-repeat;}



.right_tool { position:absolute; right:20px; top:20px; z-index:9;}
.right_tool_m { float:left; position:relative;}
.right_tool_open { display:none; float:left; width:32px; height:48px; background:url(../images/main/menu_l.png) center center no-repeat #ffffff; background:url(../images/main/menu_l.png) center center no-repeat rgba(255,255,255,0.8); border-radius:4px; box-shadow:0px 0px 8px rgba(0,0,0,0.1); cursor:pointer;}
.right_tool_clo { float:left; width:32px; height:48px; background:url(../images/main/menu_r.png) center center no-repeat #ffffff; background:url(../images/main/menu_r.png) center center no-repeat rgba(255,255,255,0.8); border-radius:4px; box-shadow:0px 0px 8px rgba(0,0,0,0.1); cursor:pointer; margin-right:5px;}

.rtool_nav { float:left; height:48px; background:#fff; background:rgba(255,255,255,0.8); border-radius:4px; box-shadow:0px 0px 8px rgba(0,0,0,0.1); }
.rtool_nav ul li{ float:left; background:url(../images/rtool/line.png) right center no-repeat; }
.rtool_nav ul li:last-child{ background:none; }
.rtool_nav ul li a{ display:block; height:48px; line-height:48px; padding:0px 12px 0px 10px; }
.rtool_nav ul li a i{ display:block; float:left; width:27px; height:48px; background:url(../images/rtool/rtool.png) left center no-repeat;  }
.rtool_nav ul li a i.i1{ background-position:0px 12px;}
.rtool_nav ul li a i.i3{ background-position:-99px 12px;}
.rtool_nav ul li a i.i2{ background-position:-191px 12px;}
.rtool_nav ul li a i.i4{ background-position:-289px 12px;}
.rtool_nav ul li a i.i5{ background-position:-413px 12px;}
.rtool_nav ul li a i.i6{ background-position:-528px 12px;}
.rtool_nav ul li a i.i7{ background-position:-623px 12px;}
.rtool_nav ul li a.on{ background:#2184e7; background:-webkit-gradient(linear,0% 0%, 0% 100%, from(rgba(27,119,237,0.8)), to(rgba(41,151,223,0.8))); color:#fff;}
.rtool_nav ul li a.on i.i1{ background-position:0px -57px;}
.rtool_nav ul li a.on i.i3{ background-position:-99px -57px;}
.rtool_nav ul li a.on i.i2{ background-position:-191px -57px;}
.rtool_nav ul li a.on i.i4{ background-position:-289px -57px;}
.rtool_nav ul li a.on i.i5{ background-position:-413px -57px;}
.rtool_nav ul li a.on i.i6{ background-position:-528px -57px;}
.rtool_nav ul li a.on i.i7{ background-position:-623px -57px;}
.rtool_nav ul li a:hover{ background:#2184e7; background:-webkit-gradient(linear,0% 0%, 0% 100%, from(rgba(27,119,237,0.8)), to(rgba(41,151,223,0.8))); color:#fff;}
.rtool_nav ul li a:hover i.i1{ background-position:0px -57px;}
.rtool_nav ul li a:hover i.i3{ background-position:-99px -57px;}
.rtool_nav ul li a:hover i.i2{ background-position:-191px -57px;}
.rtool_nav ul li a:hover i.i4{ background-position:-289px -57px;}
.rtool_nav ul li a:hover i.i5{ background-position:-413px -57px;}
.rtool_nav ul li a:hover i.i6{ background-position:-528px -57px;}
.rtool_nav ul li a:hover i.i7{ background-position:-623px -57px;}

.rtool_nav ul li a b{ display:inline-block; background:url(../images/rtool/down.png) right center no-repeat; width:15px; height:20px; margin-left:5px; vertical-align:middle;}



.rtool_nav2 { display:none; position:absolute; right:0px; top:52px; width:112px; }
.rtool_nav2 ul li{ display:block; border:1px #c1cee5 solid; background:#e5e7eb; background:rgba(229,231,235,0.8); border-radius:4px; margin-top:-1px; }
.rtool_nav2 ul li a{ display:block; height:36px; line-height:36px; padding-left:19px; }
.rtool_nav2 ul li a i{ display:block; float:left; width:26px; height:36px; background:url(../images/rtool/climate.png) left center no-repeat;  }
.rtool_nav2 ul li a i.i1{ background-position:0px 0px;}
.rtool_nav2 ul li a i.i3{ background-position:0px -37px;}
.rtool_nav2 ul li a i.i2{ background-position:0px -74px;}
.rtool_nav2 ul li a i.i4{ background-position:0px -112px;}
.rtool_nav2 ul li a i.i5{ background-position:0px -148px;}
.rtool_nav2 ul li a i.i6{ background-position:0px -185px;}
.rtool_nav2 ul li a i.i7{ background-position:0px -222px;}
.rtool_nav2 ul li a i.i8{ background-position:0px -259px;}
.rtool_nav2 ul li a.on{ background:url(../images/rtool/check_ed.png) 85px center no-repeat;}


.rtool_nav3 { display:none; position:absolute; right:130px; top:63px; width:212px; padding:7px 9px 0px 9px; background:#fff; background:rgba(255,255,255,0.8); border-radius:4px; box-shadow:0px 0px 8px rgba(0,0,0,0.1); }
.rtool_nav3 ul{ display:block; height:30px; }
.rtool_nav3 ul li{ float:left; padding:0px 4px; }
.rtool_nav3 ul li a{ display:block; width:30px; height:30px; }
.rtool_nav3 ul li a i{ display:block; width:30px; height:30px; background:url(../images/rtool/pressure_tool.png) 0px 0px no-repeat; }
.rtool_nav3 ul li a i.i1{ background-position:0px 0px;}
.rtool_nav3 ul li a i.i3{ background-position:-38px 0x;}
.rtool_nav3 ul li a i.i2{ background-position:-76px 0px;}
.rtool_nav3 ul li a i.i4{ background-position:-114px 0px;}
.rtool_nav3 ul li a i.i5{ background-position:-152px 0px;}
.rtool_nav3 ul li a.on i.i1{ background-position:0px -100px;}
.rtool_nav3 ul li a.on i.i3{ background-position:-38px -100x;}
.rtool_nav3 ul li a.on i.i2{ background-position:-76px -100px;}
.rtool_nav3 ul li a.on i.i4{ background-position:-114px -100px;}
.rtool_nav3 ul li a.on i.i5{ background-position:-152px -100px;}
.rtool_nav3 ul li a:hover{ opacity:0.8; }
.rtool_nav3 .time{ display:block; text-align:center; line-height:28px; color:#828487; }


.rtool_nav4 { display:none; position:absolute; right:203px; top:52px; width:112px; }
.rtool_nav4 ul li{ display:block; border:1px #c1cee5 solid; background:#e5e7eb; background:rgba(229,231,235,0.8); border-radius:4px; margin-top:-1px; }
.rtool_nav4 ul li a{ display:block; height:36px; line-height:36px; text-align:center; }


.news_box { position:absolute; right:20px; bottom:20px; z-index:10;}
.news_box_m { background:url(../images/news/news_bg.png) no-repeat; width:564px; height:70px; position:relative; overflow:hidden; border-radius:4px; }
.news_open ,.news_clo{ float:left; width:64px; height:25px; position:relative; line-height:14px; padding-top:45px; text-align:center; color:#fff; font-size:12px; font-weight:lighter; cursor:pointer; }
.news_open i ,.news_clo i{ position:absolute; left:35px; top:8px; font-style:normal; font-size:12px; color:#fff; background:#cf4137; border-radius:8px; height:16px; line-height:16px; padding:0px 3px;}
.news_open { display:none;}

.news_list { overflow:hidden; position:relative; height:70px; float:right; width:436px; margin-right:60px; display:inline; }
.news_list ul{ position:absolute; left:0; width:100%;}
.news_list ul li{ line-height:24px; height:59px; overflow:hidden; color:#fff; padding-top:11px; }

.news_box .aleft { position:absolute; right:0px; top:5px; background:url(../images/news/news_u.png) center center no-repeat; width:40px; height:30px; display:block; cursor:pointer;}
.news_box .aright { position:absolute; right:0px; top:35px; background:url(../images/news/news_d.png) center center no-repeat; width:40px; height:30px; display:block; cursor:pointer; }
.news_box .aleft:hover { opacity:0.7;}
.news_box .aright:hover { opacity:0.7;}
.news_box .agrayleft { opacity:0.2;}
.news_box .agrayright { opacity:0.2;}
.news_box .agrayleft:hover { opacity:0.2;}
.news_box .agrayright:hover { opacity:0.2;}



.tt_box { position:absolute; z-index:9; }
.tt_box_t { height:37px; line-height:37px; background:#fff; background:rgba(255,255,255,0.93); position:relative; padding-left:6px; color:#828487; box-shadow:0px 2px 3px rgba(0,0,0,0.05); }
.tt_box_t img{ float:left; height:37px; }
.tt_box_t .clo{ width:42px; height:37px; background:url(../images/main/clo.png) center center no-repeat; position:absolute; right:0px; top:0px; }
.tt_box_t .clo:hover{ opacity:0.7; }
.tt_box_m { background:#f0f4f9; background:rgba(240,244,249,0.9); border-radius:0px 0px 4px 4px; box-shadow:0px 0px 8px rgba(0,0,0,0.1); padding-bottom:20px; }


.tt_detail { width:590px; }
.tt_detail_box { padding:9px 10px 0px 119px; position:relative; height:221px;}
.tt_detail_pic { position:absolute; left:10px; top:9px; width:100px; }
.tt_detail_pic img{ display:block; border-radius:4px; width:100px; height:80px; }
.tt_detail_pic a{ display:block; height:36px; border-radius:4px; line-height:36px; display:block; color:#fff; background:#2184e7; background:-webkit-gradient(linear,0% 0%, 0% 100%, from(rgba(27,119,237,0.8)), to(rgba(41,151,223,0.8))); text-align:center; margin-top:10px; margin-bottom:10px; }
.tt_detail_pic a:hover{ color:#fff; background:#2184e7; }

.tt_detail_con { background:#e9ecf1; background:rgba(229,231,235,0.6); border-radius:4px; border:1px #d5dce7 solid; padding:8px 14px;}
.tt_detail_con ul li{ float:left; width:50%; height:26px; line-height:26px; overflow:hidden; }
.tt_detail_con ul li span{ float:left; width:6em; color:#828487; }
.tt_detail_con hr{ clear:both; display:block; height:0px; overflow:hidden; border:none; border-bottom:1px #dee2eb solid; margin-bottom:8px; padding-top:8px; }


.tt_box_btn { text-align:center; padding:20px 0px 0px 0px; }
.tt_box_btn a{ display:inline-block; height:36px; line-height:36px; padding:0px 20px; text-align:center; margin:0px 19px; background:#e9ecf1; background:rgba(229,231,235,0.6); border-radius:4px; border:1px #d5dce7 solid; }
.tt_box_btn a img{ display:inline-block; vertical-align:middle; }

.tt_box_time { display:none; margin:10px 27px; padding:20px; background:#f0f4f9; background:rgba(240,244,249,0.9); border-radius:4px; box-shadow:0px 0px 8px rgba(0,0,0,0.1);}
.tt_box_time_con { height:50px; text-align:center;}
.tt_box_time_con .input{ display:inline-block; height:39px; line-height:39px; width:45%; text-indent:20px; background:#fff; background:rgba(255,255,255,0.6); border:1px #d5dce9 solid; }

.tt_box_btn2 { text-align:center; }
.tt_box_btn2 a{ display:inline-block; height:36px; line-height:36px; padding:0px 36px; text-align:center; margin:0px 19px; background:#e9ecf1; background:rgba(229,231,235,0.6); border-radius:4px; border:1px #d5dce7 solid; }
.tt_box_btn2 .btn{ display:inline-block; height:38px; line-height:38px; padding:0px 38px; text-align:center; margin:0px 10px; background:#2184e7; background:-webkit-gradient(linear,0% 0%, 0% 100%, from(rgba(27,119,237,0.8)), to(rgba(41,151,223,0.8))); border-radius:4px; color:#fff; border:none; cursor:pointer;}


.tt_tagging { padding:16px 25px;}
.tt_tagging ul li{ margin-bottom:5px; border:1px #d8dee7 solid; background:#e5e7eb; background:rgba(229,231,235,0.6); line-height:40px; padding-left:9px; position:relative; }
.tt_tagging ul li .edit{ display:block; position:absolute; right:40px; top:0; width:32px; height:40px; background:url(../images/main/edit.png) center center no-repeat; }
.tt_tagging ul li .del{ display:block; position:absolute; right:8px; top:0; width:32px; height:40px; background:url(../images/main/del.png) center center no-repeat; }
.tt_tagging ul li a:hover{ opacity:0.7; }
.tt_tagging ul li.on{ background:#e3e6e8; color:#3285e9; }


.tt_tagg_add { padding:16px 10px 6px 25px;}
.tt_tagg_add .item{ margin-bottom:15px; line-height:34px; }
.tt_tagg_add .item .input{ display:inline-block; height:32px; line-height:32px; text-indent:10px; background:#e9ecf1; background:rgba(229,231,235,0.6); border-radius:4px; border:1px #d5dce7 solid; margin:0px 5px; }
.tt_tagg_add .item .input1{ width:245px; }
.tt_tagg_add .item .input2{ width:55px; }
.tt_tagg_add .item .input3{ width:130px; }

.tt_box .j { background:url(../images/main/j.png) left top no-repeat; width:45px; height:32px; margin-left:135px;}


.tt_box_follow { width:350px;}
.tt_follow_add { padding:16px 0px 6px 0px;}
.tt_follow_add .item{ margin-bottom:15px; line-height:34px; position:relative; padding-left:106px; padding-right:19px; }
.tt_follow_add .item .t{ position:absolute; left:0; top:0; width:100px; text-align:right; }
.tt_follow_add .item .input{ display:block; width:223px; height:32px; line-height:32px; text-indent:10px; background:#e9ecf1; background:rgba(229,231,235,0.6); border-radius:4px; border:1px #d5dce7 solid; }
.tt_follow_add .item .textarea{ display:block; width:203px; height:48px; line-height:20px; padding:6px 10px; background:#e9ecf1; background:rgba(229,231,235,0.6); border-radius:4px; border:1px #d5dce7 solid; }

.m_select { display:none;}
.tt_follow_add .item .select_box{ width:100%; height:34px; position:relative; z-index:998; display:block; text-align:left; }
.tt_follow_add .item .select_showbox{ display:block; text-align: left; padding-right:32px; background:url(../images/main/select.png) right center no-repeat #e9ecf1; background:url(../images/main/select.png) right center no-repeat rgba(229,231,235,0.6); height:32px; line-height:32px; border-radius:4px; border:1px #d5dce7 solid;  text-indent:10px; }
.tt_follow_add .item .select_option{ border-top: none;display: none; position:absolute; left:0px; top:33px; width:100%; z-index:999; border-top:1px #d5dce7 solid;  }
.tt_follow_add .item .select_option li{ padding-left:1em; line-height:34px; text-align:left; line-height:34px; background:#fcfcfc; border:1px #d5dce7 solid; border-top:none;}
.tt_follow_add .item .select_option li.selected{background-color:#3272dd; color:#fff;}
.tt_follow_add .item .select_option li.hover{ color:#3272dd; }
.tt_follow_add .item .select_option li.selected.hover{ background-color:#3272dd; color:#fff; }
.tt_follow_add .item .select_box:hover { z-index:999;}


.ranging { position:absolute; z-index:2; }
.ranging img{ display:block; cursor:pointer; }
.ranging .m{ position:absolute; left:0; top:22px; background:#fff; background:rgba(255,255,255,0.8); border:1px #eb5962 solid; line-height:18px; padding:5px 7px; width:140px; }
.ranging .m span{ color:#828487; }

.ranging_clo { position:absolute; z-index:2; }
.ranging_clo img{ display:block; cursor:pointer; }
.ranging_clo .m{ position:absolute; left:0; top:14px; background:#fff; background:rgba(255,255,255,0.8); border:1px #eb5962 solid; line-height:18px; padding:5px 7px; width:140px; }
.ranging_clo .m span{ color:#828487; }

.ico_box { position:absolute; cursor:pointer; z-index:2;}


.tt_login_main { position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(8,35,68,0.3); z-index:99999;}
.tt_login { position:fixed; left:50%; top:50%; z-index:100000; background:#f1f5f6; border-radius:4px; box-shadow:0px 0px 8px rgba(0,0,0,0.1); width:400px; margin-left:-200px; margin-top:-180px;}
.tt_login_t { height:37px; line-height:37px; background:#fcfdfe; position:relative; padding-left:19px; color:#828487; box-shadow:0px 2px 3px rgba(0,0,0,0.05);border-radius:4px 4px 0px 0px; }
.tt_login_t .clo{ width:42px; height:37px; background:url(../images/main/clo.png) center center no-repeat; position:absolute; right:0px; top:0px; }
.tt_login_t .clo:hover{ opacity:0.7; }
.tt_login_m { padding:29px 0px;}

.login_box { padding-left:49px;}

.login_box .item{ margin-bottom:18px; position:relative; width:302px; }
.login_box .item .input{ width:300px; height:38px; line-height:38px; border:1px #d8dee8 solid; text-align:left; text-indent:40px; border-radius:4px; }
.login_box .item .input:focus{ border:1px #7eb2ef solid; outline:none; }
.login_box .item .input1{ background:url(../images/login/b1.png) 10px center no-repeat #eaedef; }
.login_box .item .input2{ background:url(../images/login/b2.png) 10px center no-repeat #eaedef; }
.login_box .item .input3{ background:url(../images/login/b3.png) 10px center no-repeat #eaedef; }
.login_box .item .code{ position:absolute; right:1px; top:1px; height:38px; background:#d0dae2; border-radius:0px 4px 4px 0px; display:block;}
.login_box .item .btn{ display:block; height:40px; border-radius:4px; line-height:40px; color:#fff; background:#2184e7; background:-webkit-gradient(linear,0% 0%, 0% 100%, from(rgba(27,119,237,0.8)), to(rgba(41,151,223,0.8))); text-align:center; width:100%; border:none; cursor:pointer; }
.login_box .item .btn:hover{ color:#fff; background:#2184e7; }

.login_box .item2{ height:32px; position:relative; overflow:hidden; text-align:right; width:302px; line-height:18px; color:#ccd2e0; }
.login_box .item2 a{ color:#3285e9; }
.login_box .item2 a:hover{ color:#ff0000; }
.login_box .item2 label{ float:left; cursor:pointer; height:18px; position:relative; padding-left:28px; background:url(../images/login/checkbox.png) 0px 0px no-repeat; overflow:hidden; line-height:18px; color:#828487; }
.login_box .item2 label input{ position:absolute; left:-20px; top:-20px;  }
.login_box .item2 label.on{ background:url(../images/login/checkbox.png) 0px -72px no-repeat; }

.map_main { position:relative; z-index:1;}
.map_main .scale{ position:absolute; left:122px; bottom:25px; background:url(../images/map/distance.png) left center no-repeat; width:81px; height:34px; line-height:17px; font-size:12px; color:#000; padding-left:9px; }
.map_main .map_type{ position:absolute; right:10px; bottom:27px;z-index: 2; }
.map_main .map_type a{ float:left; height:36px; border-radius:4px; line-height:36px; width:76px; display:block; background:#fff; background:rgba(255,255,255,0.8); text-align:center; }
.map_main .map_type a.on{ color:#fff; background:#2184e7; background:-webkit-gradient(linear,0% 0%, 0% 100%, from(rgba(27,119,237,0.8)), to(rgba(41,151,223,0.8))); }
.map_main .copy{ position:absolute; left:20px; bottom:0px; font-size:12px; }
.map_main .map_tool{ position:absolute; left:122px; top:106px; width:52px; }
.map_main .map_tool_t { width:52px; height:52px; border-radius:26px; box-shadow:0px 0px 8px rgba(0,0,0,0.1); background:#fff; background:rgba(255,255,255,0.8); position:relative; margin-bottom:10px;}
.map_main .map_tool_t .top{ position:absolute; display:block; width:16px; height:16px; background:url(../images/map/top.png) center center no-repeat; top:0px; left:50%; margin-left:-8px;}
.map_main .map_tool_t .bottom{ position:absolute; display:block; width:16px; height:16px; background:url(../images/map/bottom.png) center center no-repeat; bottom:0px; left:50%; margin-left:-8px;}
.map_main .map_tool_t .left{ position:absolute; display:block; width:16px; height:16px; background:url(../images/map/left.png) center center no-repeat; left:0px; top:50%; margin-top:-8px;}
.map_main .map_tool_t .right{ position:absolute; display:block; width:16px; height:16px; background:url(../images/map/right.png) center center no-repeat; right:0px; top:50%; margin-top:-8px;}
.map_main .map_tool_t .middle{ position:absolute; display:block; width:20px; height:20px; background:url(../images/map/middle.png) center center no-repeat; left:50%; top:50%; margin-top:-10px; margin-left:-10px;}
.map_main .map_tool_t a:hover{ opacity:0.8;}
.map_main .map_tool_m { width:22px; position:relative; margin:0px auto;}
.map_main .map_tool_m .t{ display:block; width:22px; height:22px; background:url(../images/map/add.png) center center no-repeat rgba(255,255,255,0.8); border-radius:11px; box-shadow:0px 0px 5px rgba(0,0,0,0.1);}
.map_main .map_tool_m .m{ display:block; width:22px; height:120px; background:url(../images/map/bg2.png) center top repeat-y; position:relative; }
.map_main .map_tool_m .ms{ position:absolute; left:0px; bottom:0px; display:block; width:22px; }
.map_main .map_tool_m .ms i{ display:block; background:#eaf1f7; width:22px; height:10px; border-radius:6px; border:1px #99c7fb solid; cursor:pointer; }
.map_main .map_tool_m .f{ display:block; width:22px; height:22px; background:url(../images/map/reduce.png) center center no-repeat rgba(255,255,255,0.8); border-radius:11px; box-shadow:0px 0px 5px rgba(0,0,0,0.1);}

@media (max-width:1601px){
	
body { font-size:12px; line-height:24px; }


}