<form id="boxForm" lay-filter="boxForm" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">序列号</label>
        <div class="layui-input-block">
            <input name="sequenceNumber" placeholder="请输入序列号" type="text" class="layui-input" maxlength="50"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">船舶名称</label>
        <div class="layui-input-inline">
            <select name="shipId" id="ship" lay-verify="required" lay-filter="shipFilter" lay-search="">
                <option value="">直接选择或搜索</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">销售时间</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="sellDate" name="sellTime" maxlength="50"
                   placeholder="yyyy-MM-dd HH:mm:ss">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">最后通讯号码</label>
        <div class="layui-input-block">
            <input name="finalNumber" placeholder="请输入最后通讯号码" type="text" class="layui-input" maxlength="50"
                   lay-verify="required" required/>
        </div>
    </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="btnSubmit" lay-submit>保存</button>
    </div>
</form>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'upload', 'formSelects', 'admin', 'config', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var admin = layui.admin;
        var config = layui.config;
        var laydate = layui.laydate;

        var url = 'add';
        // 回显box数据
        var box = admin.getTempData('t_box');
        if (box) {
            url = 'update';
            form.val('boxForm', box);
        }
        //日期时间选择器
        laydate.render({
            elem: '#sellDate'
            , type: 'datetime'
        });
        //船名添加到下拉框中
        $.getJSON({
            url: config.base_server + 'box/getShipName?token=' + config.getToken().access_token,
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#ship').append("<option value=" + item.id + ">" + item.name + "</option>");// 下拉菜单里添加元素

                });
                form.render("select");//重新渲染 固定写法
                if (box) {
                    $("#ship").find("option[value=" + box.shipId + "]").prop("selected", true);
                    form.render("select");//重新渲染 固定写法
                }
            }
        });

        // 表单提交事件
        form.on('submit(btnSubmit)', function (data) {
            layer.load(2);
            var theMethod = data.field.id ? "PUT" : "POST";
            admin.req('box', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    // 关闭当前iframe弹出层
                    admin.closeDialog('#boxForm');
                    parent.layui.table.reload('boxTable', {page: {curr: 1}});
                    layer.msg(data.msg, {icon: 1});
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, theMethod);
            /*'POST'*/
            return false;
        });


    });
</script>